# Assingment
pick file from FAO and form data

In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [34]:
data = sns.load_dataset('data_on_machinery')
data.drop(['Year Code','Flag',], axis=1)

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year,Unit,Value,Flag Description
0,RM,Machinery,165,Pakistan,5622,Import Value,2455017,Agricultural machinery nes (trade),1964,1000 US$,347.0,Data reported on country official publications...
1,RM,Machinery,165,Pakistan,5622,Import Value,2455017,Agricultural machinery nes (trade),1965,1000 US$,353.0,Data reported on country official publications...
2,RM,Machinery,165,Pakistan,5622,Import Value,2455017,Agricultural machinery nes (trade),1969,1000 US$,2388.0,Data reported on country official publications...
3,RM,Machinery,165,Pakistan,5622,Import Value,2455017,Agricultural machinery nes (trade),1970,1000 US$,2187.0,Data reported on country official publications...
4,RM,Machinery,165,Pakistan,5622,Import Value,2455017,Agricultural machinery nes (trade),1971,1000 US$,574.0,Data reported on country official publications...
...,...,...,...,...,...,...,...,...,...,...,...,...
793,RM,Machinery,165,Pakistan,5922,Export Value,2455012,Track-laying tractors (crawlers),2004,1000 US$,1289.0,Data reported on country official publications...
794,RM,Machinery,165,Pakistan,5922,Export Value,2455012,Track-laying tractors (crawlers),2005,1000 US$,575.0,Data reported on country official publications...
795,RM,Machinery,165,Pakistan,5922,Export Value,2455012,Track-laying tractors (crawlers),2006,1000 US$,470.0,Data reported on country official publications...
796,RM,Machinery,165,Pakistan,5922,Export Value,2455012,Track-laying tractors (crawlers),2007,1000 US$,116.0,Data reported on country official publications...
797,RM,Machinery,165,Pakistan,5922,Export Value,2455012,Track-laying tractors (crawlers),2008,1000 US$,2.0,Data reported on country official publications...

In [36]:
data2 = data.drop(['Year Code','Flag',], axis=1).head()
data2.groupby(['Item','Value']).mean()

                                           Area Code (FAO)  Element Code  \
Item                               Value
Agricultural machinery nes (trade) 347.0             165.0        5622.0
                                   353.0             165.0        5622.0
                                   574.0             165.0        5622.0
                                   2187.0            165.0        5622.0
                                   2388.0            165.0        5622.0

                                           Item Code    Year
Item                               Value
Agricultural machinery nes (trade) 347.0   2455017.0  1964.0
                                   353.0   2455017.0  1965.0
                                   574.0   2455017.0  1971.0
                                   2187.0  2455017.0  1970.0
                                   2388.0  2455017.0  1969.0